---
const {articleH1Text} = Astro.props;
---

<h1>{articleH1Text}</h1>

<style>
  h1 {
    text-align: center;
    padding: 0 22%;
    font-family: "PoppinsBold", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
  }
</style>
