---
const {articleH2Text} = Astro.props;
---

<h2>{articleH2Text}</h2>

<style>
  h2 {
    text-align: center;
    justify-content: center;
    padding: 0 22%;
    font-family: "PoppinsRegular", sans-serif;
    font-size: 22px;
  }
</style>
