---
import {Image} from "astro:assets";
import berlinLogo from "../assets/vertical_logo_purple.svg";
---

<a href="/."><Image src={berlinLogo} alt="Creative Escape logo in purple" width={120} /></a>
<a href="/."><h1>Berlin</h1></a>

<style>
  img {
    display: block;
    margin: auto;
  }

  @font-face {
    font-family: "LondrinaSolid";
    src: url(/fonts/LondrinaSolid-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  a {
    text-decoration: none;
  }

  h1 {
    font-family: "LondrinaSolid", sans-serif;
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    color: #7e5bb6;
    padding-bottom: 45px;
  }
</style>
