---
import {Image} from "astro:assets";
import copenhagenLogo from "../assets/vertical_logo_blue.svg";
---

<Image src={copenhagenLogo} alt="Creative Escape logo in purple" width={120} />
<h1>Copenhagen</h1>

<style>
  img {
    display: block;
    margin: auto;
    margin-top: 20px;
  }

  @font-face {
    font-family: "LondrinaSolid";
    src: url(/fonts/LondrinaSolid-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    font-family: "LondrinaSolid", sans-serif;
    font-size: 65px;
    text-align: center;
    margin-top: 15px;
    text-transform: uppercase;
    color: #2D60F9;
  }
</style>
