---
import Landingarticle from "../components/Landingarticle.astro";
import Landingrecentsection from "../components/Landingrecentsection.astro";
---

<section>
  <Landingarticle class="griditem" />
  <Landingrecentsection class="griditem" />
</section>

<style>
  section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    margin: 50px 200px 50px 100px;
  }
  .griditem {
    background-color: blueviolet;
    height: 70vh;
  }
</style>
