---
import { Image } from "astro:assets";
import Landingimage from "../assets/photobooth.png";
---

<div>
  <Image class="landingimg" src={Landingimage} alt="Photobooth in Berlin" width={750} />
  <h1>AN IMAGE WORTH CAPTURING: BERLIN'S ANALOGUE PHOTO BOOTHS</h1>
</div>
<style>
  div {
    h1 {
      text-align: center;
      padding: 0 150px 0 150px;
      font-size: 40px;
      font-family: sans-serif;
    }
  }
  .landingimg {
    margin: auto;
    display: block;
  }
</style>
