---
import { Image } from "astro:assets";
const { LandingArticleImage, LandingArticleImageAlt, landingHeader } = Astro.props;
---

<div>
  <Image class="landingimg" src={LandingArticleImage} alt={LandingArticleImageAlt} />
  <h1>{landingHeader}</h1>
</div>
<style>
  div {
    h1 {
      text-align: center;
      padding: 0 150px 0 150px;
      font-size: 40px;
      font-family: "PoppinsBold", sans-serif;
    }
  }
  .landingimg {
    margin: auto;
    display: block;
    width: 750px;
    height: auto;
  }
</style>
