---
import { Image } from "astro:assets";
const { RecentArticleHeader, RecentArticleImage, RecentArticleImageAlt } = Astro.props;
---

<section class="grid_1-3">
  <Image class="landingimg" src={RecentArticleImage} alt={RecentArticleImageAlt} />
  <div class="recentarticle_flex">
    <p class="recent_header">{RecentArticleHeader}</p>
    <p class="recent_date">10/9-2025</p>
  </div>
</section>
<hr />
<style>
  .grid_1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100px;
    column-gap: 10px;
    margin-bottom: 15px;
  }
  .recentarticle_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
  }
  .recent_header,
  .recent_date {
    margin: 0;
    font-family: sans-serif;
  }
  .recent_date {
    color: #bcbcbc;
    font-size: 11px;
  }
  .recent_header {
    font-size: 15px;
    font-family: "PoppinsMedium", sans-serif;
  }
  hr {
    border: 0.5px solid #bcbcbc;
    margin-bottom: 20px;
  }
  .landingimg {
    object-fit: cover;
    width: 100px;
    height: 100px;
  }
</style>
