<!doctype html>
<html lang="en">
  <head>
    <meta name="robots" content="noindex" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  @font-face {
    font-family: "LondrinaSolid";
    src: url(/fonts/LondrinaSolid-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsRegular";
    src: url(/fonts/Poppins-Regular.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsBlack";
    src: url(/fonts/Poppins-Black.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsSemiBold";
    src: url(/fonts/Poppins-SemiBold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsBold";
    src: url(/fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsLight";
    src: url(/fonts/Poppins-Light.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "PoppinsMedium";
    src: url(/fonts/Poppins-Medium.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  html {
    background-color: #ffffff;
  }

  body {
    margin: 0;
    background-color: #ffffff;
    height: 100%;
    margin: 0 auto; /* centrerer body så man på meget brede skærme vil se sorte margins på hver side af body */
    max-width: 1680px; /* begrænser body-størrelsen til vores største billedes bredde */
  }
</style>
